<header class="header">
  <div class="menu"><img class="menu-icon" src="/img/burger menu button.png"></div>
  <a href="/" class="logo"><img src="/img/logo.png"></a>
  <nav class="nav">
    {{#each categories}}
    <div class="nav-item">
      <a href="/products?cat_id={{this.cat_id}}">{{this.cat_name}}</a>
    </div>
    {{/each}}
    <div class="nav-item"><a href="/products?cat_id=0" class="sale">SALE</a></div>
  </nav>
  <div class="search"><img src="/img/search1.png"><input placeholder="Search..."></div>
  <div class="icons">
    <a href="/cart" class="Cart" style="background-image: url('/img/cart.png'); width:24px; background-size:cover;"></a>
    <span class="cart-badge">{{cartLen}}</span>
  </div>
</header>