<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">BRAND SHOP</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Товары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Контакты</a>
                </li>
            </ul>
            
            <ul class="navbar-nav">
                {{#if session.userId}}
                    <li class="nav-item">
                        <a class="nav-link" href="/products/cart">
                            <i class="bi bi-cart"></i> Корзина
                            {{#if cartCount}}
                                <span class="badge bg-warning text-dark">{{cartCount}}</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            {{session.username}}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/clients/profile">Профиль</a></li>
                            <li><a class="dropdown-item" href="/clients/purchase-history">История покупок</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/clients/logout">Выход</a></li>
                        </ul>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/clients/login">Вход</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clients/register">Регистрация</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>