<header class="header">
  <div class="menu"><img class="menu-icon" src="/img/burger menu button.png"></div>
  <a href="/" class="logo"><img src="/img/logo.png"></a>
  <nav class="nav">
    <div class="nav-item"><a href="/products?cat_id=1">NEW ARRIVALS</a></div>
    <div class="nav-item"><a href="/products?cat_id=2">DIARIES & CALENDARS</a></div>
    <div class="nav-item"><a href="/products?cat_id=3">PLAN & WRITE</a></div>
    <div class="nav-item"><a href="/products?cat_id=4">CARRY</a></div>
    <div class="nav-item"><a href="/products?cat_id=0" class="sale">SALE</a></div>
  </nav>
  <div class="search"><img src="/img/search1.png"><input placeholder="Search..."></div>
  <div class="icons">
    <a href="/sales/cart" class="Cart" style="background-image: url('/img/cart.png'); width:24px; background-size:cover;"></a>
    {{#if cartLen}}
      <span class="cart-badge">{{cartLen}}</span>
    {{/if}}
  </div>
</header>