@media (min-width: 390px) {

}

@media (max-width: 450px) {
  .action-heart {
    display: none;
  }
}

@media (max-width: 1050px) {
  .header {
    gap: 5px;
  }

  .logo {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 0px;
  }

  .nav-group {
    margin-left: -70px;
    gap: 8px;
  }

  .cart-item-content {
    grid-template-columns: 180px 1fr;
  }

  .item-pricing {
    padding: 0;
    grid-row: 2;
    grid-column: 1/3;
  }
}

@media (max-width: 390px) {
  .header {
    padding-bottom: 20px;
  }

  .header-navigation {
  justify-content: end;
  }

  .category-tabs {
    display: none;
  }

  .nav-group {
    display: none;
  }

  .search-container {
    width: auto;
  }

  .search-input-wrapper {
    display: none;
  }

  .mobile-header {
    display: flex;
  }

  .search-input-wrapper.mobile {
    display: flex;
  }

  .category-large {
    width: 346px;
  }

  .category-large h1 {
    width: 220px;
  }

  .sort,
  .category-nav {
    display: none;
  }

  .products {
    grid-template-columns: 1fr 1fr;
  }

  .products .product img {
    max-height: 100%;
  }

  .up {
    grid-template-columns: 1fr;
  }

  .up-img {
    height: 100vw;
  }

  .adding-block {
    padding-inline: 20px;
  }

  .downn {
    display: flex;
  }

  .downn-img {
    display: none;
  }

  .cart-content {
    flex-direction: column;
  }

  .mobile-item-details {
    display: flex;
  }

  .item-details .item-brand,
  .item-details .item-title {
    display: none;
  }

  .promo-banner {
    display: none;
  }

  .summary-card {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100vw;
    margin-bottom: 0;

  }
}

@media (max-width: 820px) and (min-width: 390px) {
  .header {
    padding-bottom: 20px;
  }

  .header-navigation {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  .nav-group {
    display: none;
  }

  .search-container {
    width: auto;
  }

  .search-input-wrapper {
    display: none;
  }

  .mobile-header {
    display: flex;
  }

  .search-input-wrapper.mobile {
    display: flex;
  }
  
  .category-small .arrow-icon {
    display: none;
  }

  .category-small h1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  ._1,
  ._4,
  ._7,
  .__1 {
    width: 100%;
  }

  ._2,
  ._3,
  ._5,
  ._6,
  .__2,
  .__3 {
    width: calc(50% - 4px);
  }

  .footer-nav {
    width: 70%;
    row-gap: 50px;
    column-gap: calc(100% - 500px);
    justify-content: flex-start;
  }

  .sort,
  .category-nav {
    display: none;
  }

  .products {
    grid-template-columns: 1fr 1fr;
  }

  .products .product img {
    max-height: 100%;
  }

  .up {
    grid-template-columns: 1fr;
  }

  .up-img {
    height: 100vw;
  }

  .adding-block {
    padding-inline: 20px;
  }

  .downn {
    display: flex;
  }

  .downn-img {
    display: none;
  }

  .cart-content {
    flex-direction: column;
  }
}

@media (max-width: 1376px) and (min-width:820px) {
  .category-block {
    align-items: flex-start;
  }

  .__1 { width: 100%;}

  ._1,
  ._2,
  ._6,
  ._7,
  .__2,
  .__3 {
    width: calc(50% - 4px);
  }

  ._3,
  ._4,
  ._5 {
    width: calc(33.3% - 8px);
  }

  .footer-nav {
    width: 70%;
    row-gap: 50px;
    column-gap: calc(100% - 500px);
    justify-content: flex-start;
  }

  .checkout-grid {
    grid-template-columns: 2fr 1fr;
  }

  .choosing-grid {
    grid-template-columns: 2fr 1fr;
  }
}

@media (max-width: 1920px) and (min-width: 1376px) {
  ._1,
  ._2,
  ._3,
  .__1,
  .__2,
  .__3 {
    width: calc(33.3% - 8px);
  }

  ._4,
  ._5,
  ._6,
  ._7 {
    width: calc(25% - 12px);
  }

  .checkout-grid {
    grid-template-columns: 2fr 1fr;
  }

  .choosing-grid {
    grid-template-columns: 2fr 1fr;
  }
}


@media (max-width: 600px) {
  .step-label {
    font-size: 12px;
  }
  
  :root {
    --step-icon-size: 28px;
  }
}

@media (max-width: 768px) {
  .menu-sidebar {
    width: 80%;
    left: -80%;
  }
}