:root {
    --black: rgba(0, 0, 0, 1);
    --malina: rgba(231, 102, 102, 1);
    --white: rgba(255, 255, 255, 1);
    --button-background: rgba(39, 37, 34, 1);
    --stroke: rgba(239, 240, 241, 1);
    --gray: rgba(163, 151, 164, 1);
    --gray-2: rgba(246, 246, 246, 1);
    --black-60: rgba(0, 0, 0, 0.6);
    --black-40: rgba(0, 0, 0, 0.4);
    --text-gray: rgba(79, 74, 74, 1);
    --gray-3: rgba(121, 121, 121, 1);
    --gray-4: rgba(232, 232, 232, 1);
    --bez: rgba(231, 210, 188, 1);
    --bor: rgba(122, 47, 59, 1);
    --zel: rgba(56, 105, 84, 1);
    --mint: rgba(185, 224, 209, 1);
    --jol: rgba(254, 226, 91, 1);
    --segue-14-font-family: "Segoe UI Historic", Helvetica;
    --segue-14-font-weight: 400;
    --segue-14-font-size: 14px;
    --segue-14-letter-spacing: 0px;
    --segue-14-line-height: normal;
    --segue-14-font-style: normal;
    --segue-14-underline-font-family: "Segoe UI Historic", Helvetica;
    --segue-14-underline-font-weight: 400;
    --segue-14-underline-font-size: 14px;
    --segue-14-underline-letter-spacing: 0px;
    --segue-14-underline-line-height: normal;
    --segue-14-underline-font-style: normal;
    --actor-15-font-family: "Actor", Helvetica;
    --actor-15-font-weight: 400;
    --actor-15-font-size: 17.5px;
    --actor-15-letter-spacing: 0px;
    --actor-15-line-height: normal;
    --actor-15-font-style: normal;
    --segue-15-font-family: "Segoe UI Historic", Helvetica;
    --segue-15-font-weight: 400;
    --segue-15-font-size: 15px;
    --segue-15-letter-spacing: 0px;
    --segue-15-line-height: normal;
    --segue-15-font-style: normal;
    --rubik-13-font-family: "Rubik", Helvetica;
    --rubik-13-font-weight: 400;
    --rubik-13-font-size: 13px;
    --rubik-13-letter-spacing: 0px;
    --rubik-13-line-height: normal;
    --rubik-13-font-style: normal;
    --actor-11-font-family: "Actor", Helvetica;
    --actor-11-font-weight: 400;
    --actor-11-font-size: 11px;
    --actor-11-letter-spacing: 0px;
    --actor-11-line-height: normal;
    --actor-11-font-style: normal;
    --actor-16-font-family: "Actor", Helvetica;
    --actor-16-font-weight: 400;
    --actor-16-font-size: 16px;
    --actor-16-letter-spacing: 0px;
    --actor-16-line-height: normal;
    --actor-16-font-style: normal;
    --aboretto-13-font-family: "Aboreto", Helvetica;
    --aboretto-13-font-weight: 400;
    --aboretto-13-font-size: 13px;
    --aboretto-13-letter-spacing: 0px;
    --aboretto-13-line-height: normal;
    --aboretto-13-font-style: normal;
    --aboretto-14-font-family: "Aboreto", Helvetica;
    --aboretto-14-font-weight: 400;
    --aboretto-14-font-size: 14px;
    --aboretto-14-letter-spacing: 0px;
    --aboretto-14-line-height: normal;
    --aboretto-14-font-style: normal;
    --actor-17-font-family: "Actor", Helvetica;
    --actor-17-font-weight: 400;
    --actor-17-font-size: 17px;
    --actor-17-letter-spacing: 0px;
    --actor-17-line-height: normal;
    --actor-17-font-style: normal;
    --aboretto-11-font-family: "Aboreto", Helvetica;
    --aboretto-11-font-weight: 400;
    --aboretto-11-font-size: 11px;
    --aboretto-11-letter-spacing: 0px;
    --aboretto-11-line-height: normal;
    --aboretto-11-font-style: normal;
    --segue-13-font-family: "Segoe UI Historic", Helvetica;
    --segue-13-font-weight: 400;
    --segue-13-font-size: 13px;
    --segue-13-letter-spacing: 0px;
    --segue-13-line-height: normal;
    --segue-13-font-style: normal;
    --segue-17-font-family: "Segoe UI Historic", Helvetica;
    --segue-17-font-weight: 400;
    --segue-17-font-size: 17px;
    --segue-17-letter-spacing: 0px;
    --segue-17-line-height: normal;
    --segue-17-font-style: normal;
    --rubik-11-font-family: "Rubik", Helvetica;
    --rubik-11-font-weight: 400;
    --rubik-11-font-size: 11px;
    --rubik-11-letter-spacing: 0px;
    --rubik-11-line-height: normal;
    --rubik-11-font-style: normal;
    --segue-40-font-family: "Segoe UI Historic", Helvetica;
    --segue-40-font-weight: 400;
    --segue-40-font-size: 40px;
    --segue-40-letter-spacing: 0px;
    --segue-40-line-height: normal;
    --segue-40-font-style: normal;
    --segue-32-font-family: "Segoe UI Historic", Helvetica;
    --segue-32-font-weight: 400;
    --segue-32-font-size: 32px;
    --segue-32-letter-spacing: 0px;
    --segue-32-line-height: normal;
    --segue-32-font-style: normal;
    --segue-30-font-family: "Segoe UI Historic", Helvetica;
    --segue-30-font-weight: 400;
    --segue-30-font-size: 30px;
    --segue-30-letter-spacing: 0px;
    --segue-30-line-height: normal;
    --segue-30-font-style: normal;
    --rubik-12-font-family: "Rubik", Helvetica;
    --rubik-12-font-weight: 400;
    --rubik-12-font-size: 12px;
    --rubik-12-letter-spacing: 0px;
    --rubik-12-line-height: normal;
    --rubik-12-font-style: normal;
    --rubik-15-font-family: "Rubik", Helvetica;
    --rubik-15-font-weight: 400;
    --rubik-15-font-size: 15px;
    --rubik-15-letter-spacing: 0px;
    --rubik-15-line-height: normal;
    --rubik-15-font-style: normal;
    --rubik-20-font-family: "Rubik", Helvetica;
    --rubik-20-font-weight: 400;
    --rubik-20-font-size: 20px;
    --rubik-20-letter-spacing: 0px;
    --rubik-20-line-height: normal;
    --rubik-20-font-style: normal;
    --inter-20-font-family: "Inter", Helvetica;
    --inter-20-font-weight: 400;
    --inter-20-font-size: 20px;
    --inter-20-letter-spacing: 0px;
    --inter-20-line-height: normal;
    --inter-20-font-style: normal;
    --rubik-10-font-family: "Rubik", Helvetica;
    --rubik-10-font-weight: 400;
    --rubik-10-font-size: 10px;
    --rubik-10-letter-spacing: 0px;
    --rubik-10-line-height: normal;
    --rubik-10-font-style: normal;
    --inter-12-font-family: "Inter", Helvetica;
    --inter-12-font-weight: 400;
    --inter-12-font-size: 12px;
    --inter-12-letter-spacing: 0px;
    --inter-12-line-height: normal;
    --inter-12-font-style: normal;
    --actor-31-8-font-family: "Actor", Helvetica;
    --actor-31-8-font-weight: 400;
    --actor-31-8-font-size: 31.799999237060547px;
    --actor-31-8-letter-spacing: 0px;
    --actor-31-8-line-height: normal;
    --actor-31-8-font-style: normal;
    --actor-20-font-family: "Actor", Helvetica;
    --actor-20-font-weight: 400;
    --actor-20-font-size: 20px;
    --actor-20-letter-spacing: 0px;
    --actor-20-line-height: normal;
    --actor-20-font-style: normal;
    --actor-24-font-family: "Actor", Helvetica;
    --actor-24-font-weight: 400;
    --actor-24-font-size: 24px;
    --actor-24-letter-spacing: 0px;
    --actor-24-line-height: normal;
    --actor-24-font-style: normal;
    --actor-35-font-family: "Actor", Helvetica;
    --actor-35-font-weight: 400;
    --actor-35-font-size: 35px;
    --actor-35-letter-spacing: 0px;
    --actor-35-line-height: normal;
    --actor-35-font-style: normal;
    --actor-25-font-family: "Actor", Helvetica;
    --actor-25-font-weight: 400;
    --actor-25-font-size: 25px;
    --actor-25-letter-spacing: 0px;
    --actor-25-line-height: normal;
    --actor-25-font-style: normal;
    --actor-31-font-family: "Actor", Helvetica;
    --actor-31-font-weight: 400;
    --actor-31-font-size: 31px;
    --actor-31-letter-spacing: 0px;
    --actor-31-line-height: normal;
    --actor-31-font-style: normal;
    --actor-45-font-family: "Actor", Helvetica;
    --actor-45-font-weight: 400;
    --actor-45-font-size: 45px;
    --actor-45-letter-spacing: 0px;
    --actor-45-line-height: normal;
    --actor-45-font-style: normal;
    --segue-20-font-family: "Segoe UI Historic", Helvetica;
    --segue-20-font-weight: 400;
    --segue-20-font-size: 20px;
    --segue-20-letter-spacing: 0px;
    --segue-20-line-height: normal;
    --segue-20-font-style: normal;
    --actor-30-font-family: "Actor", Helvetica;
    --actor-30-font-weight: 400;
    --actor-30-font-size: 30px;
    --actor-30-letter-spacing: 0px;
    --actor-30-line-height: normal;
    --actor-30-font-style: normal;
    --segue-16-font-family: "Segoe UI Historic", Helvetica;
    --segue-16-font-weight: 400;
    --segue-16-font-size: 16px;
    --segue-16-letter-spacing: 0px;
    --segue-16-line-height: normal;
    --segue-16-font-style: normal;
    --inter-45-font-family: "Inter", Helvetica;
    --inter-45-font-weight: 400;
    --inter-45-font-size: 45px;
    --inter-45-letter-spacing: 0px;
    --inter-45-line-height: normal;
    --inter-45-font-style: normal;
    --inter-30-font-family: "Inter", Helvetica;
    --inter-30-font-weight: 400;
    --inter-30-font-size: 30px;
    --inter-30-letter-spacing: 0px;
    --inter-30-line-height: normal;
    --inter-30-font-style: normal;
    --segue-60-font-family: "Segoe UI Historic", Helvetica;
    --segue-60-font-weight: 400;
    --segue-60-font-size: 60px;
    --segue-60-letter-spacing: 0px;
    --segue-60-line-height: normal;
    --segue-60-font-style: normal;
    --segue-18-font-family: "Segoe UI Historic", Helvetica;
    --segue-18-font-weight: 400;
    --segue-18-font-size: 18px;
    --segue-18-letter-spacing: 0px;
    --segue-18-line-height: normal;
    --segue-18-font-style: normal;
    --segue-24-font-family: "Segoe UI Historic", Helvetica;
    --segue-24-font-weight: 400;
    --segue-24-font-size: 24px;
    --segue-24-letter-spacing: 0px;
    --segue-24-line-height: normal;
    --segue-24-font-style: normal;
    --inter-16-font-family: "Inter", Helvetica;
    --inter-16-font-weight: 400;
    --inter-16-font-size: 16px;
    --inter-16-letter-spacing: 0px;
    --inter-16-line-height: normal;
    --inter-16-font-style: normal;
    --segue-12-font-family: "Segoe UI Historic", Helvetica;
    --segue-12-font-weight: 400;
    --segue-12-font-size: 12px;
    --segue-12-letter-spacing: 0px;
    --segue-12-line-height: normal;
    --segue-12-font-style: normal;
    --segue-36-font-family: "Segoe UI Historic", Helvetica;
    --segue-36-font-weight: 400;
    --segue-36-font-size: 36px;
    --segue-36-letter-spacing: 0px;
    --segue-36-line-height: normal;
    --segue-36-font-style: normal;
    --segue-11-font-family: "Segoe UI Historic", Helvetica;
    --segue-11-font-weight: 400;
    --segue-11-font-size: 11px;
    --segue-11-letter-spacing: 0px;
    --segue-11-line-height: normal;
    --segue-11-font-style: normal;
  }
  