:root {
  /* Размеры */
  --base-font-size: 16px;
  --header-height-mobile: 4rem;
  --header-height-desktop: 6rem;
  --nav-height: 3rem;

  /* Медиа-запросы */
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1024px;
  --large-desktop: 1200px;
  
  --fon: rgba(178, 178, 178, 1);
  --stroke: rgba(217, 217, 217, 1);
  --white: rgba(255, 255, 255, 1);
  --hover: rgba(230, 231, 233, 1);
  --menu-hover: rgba(40, 40, 40, 1);
  --black: rgba(0, 0, 0, 1);
  --red: rgba(236, 13, 13, 1);
  --footer-fone: rgba(0, 86, 95, 1);
  --fon-2: rgba(240, 240, 240, 1);
  --green-fon: rgba(237, 250, 237, 1);
  --fon-3: rgba(227, 227, 227, 1);
  --light-green: rgba(172, 255, 233, 1);
  --oinmion: rgba(82, 43, 43, 1);
  --ib16-font-family: "Inter", Helvetica;
  --ib16-font-weight: 700;
  --ib16-font-size: 16px;
  --ib16-letter-spacing: 0px;
  --ib16-line-height: normal;
  --ib16-font-style: normal;
  --ir26-font-family: "Inter", Helvetica;
  --ir26-font-weight: 400;
  --ir26-font-size: 26px;
  --ir26-letter-spacing: 0px;
  --ir26-line-height: normal;
  --ir26-font-style: normal;
  --ib14-font-family: "Inter", Helvetica;
  --ib14-font-weight: 700;
  --ib14-font-size: 14px;
  --ib14-letter-spacing: 0px;
  --ib14-line-height: normal;
  --ib14-font-style: normal;
  --sans-14-font-family: "Source Sans Pro", Helvetica;
  --sans-14-font-weight: 400;
  --sans-14-font-size: 14px;
  --sans-14-letter-spacing: 0px;
  --sans-14-line-height: normal;
  --sans-14-font-style: normal;
  --sans-14-bold-font-family: "Source Sans Pro", Helvetica;
  --sans-14-bold-font-weight: 600;
  --sans-14-bold-font-size: 14px;
  --sans-14-bold-letter-spacing: 0px;
  --sans-14-bold-line-height: normal;
  --sans-14-bold-font-style: normal;
  --sans-24-bold-font-family: "Source Sans Pro", Helvetica;
  --sans-24-bold-font-weight: 600;
  --sans-24-bold-font-size: 24px;
  --sans-24-bold-letter-spacing: 0px;
  --sans-24-bold-line-height: 20px;
  --sans-24-bold-font-style: normal;
  --sans-16-font-family: "Source Sans Pro", Helvetica;
  --sans-16-font-weight: 400;
  --sans-16-font-size: 16px;
  --sans-16-letter-spacing: 0px;
  --sans-16-line-height: 20px;
  --sans-16-font-style: normal;
  --sans-16-bold-font-family: "Source Sans Pro", Helvetica;
  --sans-16-bold-font-weight: 600;
  --sans-16-bold-font-size: 16px;
  --sans-16-bold-letter-spacing: 0px;
  --sans-16-bold-line-height: 20px;
  --sans-16-bold-font-style: normal;
  --sans-18-bold-font-family: "Source Sans Pro", Helvetica;
  --sans-18-bold-font-weight: 600;
  --sans-18-bold-font-size: 18px;
  --sans-18-bold-letter-spacing: 0px;
  --sans-18-bold-line-height: 20px;
  --sans-18-bold-font-style: normal;
  --sans-18-font-family: "Source Sans Pro", Helvetica;
  --sans-18-font-weight: 400;
  --sans-18-font-size: 18px;
  --sans-18-letter-spacing: 0px;
  --sans-18-line-height: 20px;
  --sans-18-font-style: normal;
  --ir14-font-family: "Inter", Helvetica;
  --ir14-font-weight: 400;
  --ir14-font-size: 14px;
  --ir14-letter-spacing: 0px;
  --ir14-line-height: 14px;
  --ir14-font-style: normal;
  --ib12-font-family: "Inter", Helvetica;
  --ib12-font-weight: 600;
  --ib12-font-size: 12px;
  --ib12-letter-spacing: 0px;
  --ib12-line-height: 12px;
  --ib12-font-style: normal;
  --ir12-font-family: "Inter", Helvetica;
  --ir12-font-weight: 400;
  --ir12-font-size: 12px;
  --ir12-letter-spacing: 0px;
  --ir12-line-height: 12px;
  --ir12-font-style: normal;
  --variable-collection-stroke: rgba(204, 204, 204, 1);
  --primary-color: #000;
  --secondary-color: #555;
  --active-color: #000;
  --inactive-color: #999;
  --progress-color: #e0e0e0;
  --step-icon-size: 32px;
}
