:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #a397a4;
  --text-gray: #4f4a4a;
  --sale-color: #e76666;
  --blue: #30b0c7;
  --beige: #e7d2bc;
  --yellow: #fee25b;
  --green: #34c759;
  --dark-green: #386954;
  --mint: #b9e0d1;
  --burgundy: #7a2f3b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  color: var(--black);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

button:focus-visible {
  outline: 2px solid #4a90e2;
  outline: -webkit-focus-ring-color auto 5px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--white);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--white);
  z-index: 100;
}

.logo img {
  height: 56px;
  width: 140px;  
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  font-size: 16px;
  padding: 13px 10px;
}

.nav a.sale {
  color: var(--sale-color);
}

.search {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid var(--gray);
  border-radius: 27px;
  width: 300px;  
  height: 50px; 
  margin-left: 10px;
}

.search img {
  margin-right: 10px;
}

.search input{
  border: none; 
  outline: none;
}

.search span {
  color: var(--text-gray);
  font-size: 13px;
}

.search input{
  border: none; 
  outline: none;
}

.icons {
  display: flex;
  gap: 25px;
  margin-right: 20px;
}

.icons img {
  height: 24px;
}

.menu {
  display: none;
  margin-right: 20px;
}


.nav-item {
  position: static;
}

.mega-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100vw;
  background: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  padding: 30px 40px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 100;
  border-top: 1px solid #f0f0f0;
  transform: translateY(10px);
}

.nav-item:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.nav-item a:hover {
  text-decoration: underline;;
}

.mega-menu-content {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
}


.mega-menu h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
  color: black;
  text-transform: uppercase;
}

.mega-menu h4:hover {
  text-decoration: underline;
}

.mega-menu a {
  display: block;
  padding: 8px 0;
  font-size: 15px;
  color: rgb(73, 72, 72);
  transition: color 0.2s ease;
}

.mega-menu a:hover {
  color: black;
}


.mega-menu-promo img {
  width: 100%;
  max-width: 400px;
  height: auto; 
}


.header {
  padding: 0 40px;
}

.nav {
  position: static;
}

.nav > a {
  padding: 30px 15px;
  display: inline-block;
  position: relative;
}

.nav > a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 2px;
  background: transparent;
}

.nav > a:hover:after {
  background: var(--black);
}

.nav a.sale:hover:after {
  background: var(--sale-color);
}


@media (max-width: 992px) {
  .mega-menu {
    display: none;
  }
  
  .nav > a {
    padding: 15px 0;
  }
  
  .nav > a:after {
    display: none;
  }
}

/* Product Sections */
.products-scroll {
  padding: 70px 40px 10px;
}

.products-scroll h2 {
  font-size: 31.8px;
  margin-bottom: 30px;
}

.product-card h3:hover {
text-decoration: underline;
}

.products-grid {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.products-grid::-webkit-scrollbar {
  display: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-width: 362px;
}

.product-image {
  height: 451px;
  background-color: var(--white);
  margin-bottom: 18px;
  position: relative;
}

.product-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-image:hover img:nth-child(2) {
  display: none;
  transition: all 0.3s ease;
}
.wishlist-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  background: white;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(63, 63, 63, 0.2);
  transition: all 0.3s ease;
  z-index: 2;
}

.wishlist-btn svg path {
  fill: #949393; 
}

.wishlist-btn:hover {
  color: rgb(255, 255, 255);
}

.product-card h3 {
  font-size: 17.5px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.price {
  font-size: 17.5px;
  margin-bottom: 15px;
}

.color-options {
  display: flex;
  gap: 10px;
}

.color-option {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.color-option::before {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color); 
  position: absolute;
}

/* Personal Section */
.personal-section {
  display: flex;
  padding: 0 40px;
  margin: 40px 0;
}

.text-content {
  flex: 1;
  padding: 219px 127px;
  margin-left: 100px;
}

.text-content h2 {
  font-size: 45px;
  margin-bottom: 30px;
}

.text-content p {
  font-size: 16px;
  margin-bottom: 30px;
  max-width: 656px;
}

.image-content {
  flex: 1;
}

.image-content img {
  width: 1000px;
  height: 600px;
  object-fit: cover;
}

.big-picture-section {
  position: relative;
  margin-bottom: 60px;
  max-width: 1419px;
  margin-left: auto;
  margin-right: auto;
}

.main-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.thumbnails {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 12px; 
  z-index: 2;
}

.thumbnails img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%; 
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.thumbnails img:hover {
  border-color: var(--black);
  transform: scale(1.1);
}



.description {
  position: absolute;
  top: 40px; 
  right: 20px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
}

.description h3 {
  font-size: 36px; 
  margin-bottom: 15px;
  color: var(--black);
}

.description p {
  font-size: 16px;
  color: var(--text-gray);
  line-height: 1.4;
}

.counter {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 4px 8px;
  border-radius: 12px;
  z-index: 3;
}


.categories {
  padding: 23px 40px;
  margin-bottom: 80px;
}

.categories h2 {
  font-size: 35px;
  margin-bottom: 74px; 
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.category-card {
  text-align: center;
  align-items: flex-start;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left; 
}

.category-card img {
  object-fit: cover;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}


.category-card .btn {
  position: relative;
  left: 0;
  margin-top: 15px;
  width: fit-content; 
  align-self: flex-start; 
  margin-left: 0; 
  width: auto; 
}


.holiday-section {
  display: flex;
  margin-bottom: 80px;
}

.holiday-left, .holiday-right {
  flex: 1;
  padding: 56px 40px;
  text-align: center;
}

.holiday-left img, .holiday-right img {
  width: 908px;
  height: auto;
  object-fit: cover;
  margin-bottom: 71px;
}

.holiday-left h3, .holiday-right h3 {
  font-size: 35px;
  margin-bottom: 15px;

}


.btn {
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid var(--black);
  border-radius: 30px;
  font-size: 15px;
  background-color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: flex-start; 
  margin-left: 0; 
}


.btn:hover {
  background-color: var(--black);
  color: var(--white);
}

.cta-btn {
  display: block;
  width: 300px;
  padding: 18px 32px;
  margin: 0 40px 80px;
  border: 1px solid var(--black);
  border-radius: 30px;
  font-size: 15px;
  background-color: var(--white);
  cursor: pointer;
  text-align: center;
}

.cta-btn:hover {
  background-color: var(--black);
  color: var(--white);
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: var(--white);
}

.footer-section {
  flex: 1;
  max-width: 444px;
}

.footer h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer ul {
  list-style: none;
}

.footer li {
  margin-bottom: 10px;
}

.footer a {
  font-size: 17px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.social-icons img {
  width: 48px;
  height: 48px;
}



/* Медиа-запросы для адаптивности */
@media (min-width: 1811px){
  .search-icon {
    display: none;
  }
}

@media (max-width: 1811px) {

  .search {
    display: none;
  }

}


@media (max-width: 1480px) {
  .nav {
    display: none;
  }

  .header {
    height: 78px;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    position: absolute;
    left: calc(50% - 77px);
  }

  .menu {
    display: flex;
  }

}

@media (max-width: 1200px) {
  .header {
    padding: 8px 20px;
  }
  
  
  .search {
    width: 250px;
    display: none;
  }
  
  .personal-section .text-content {
    padding: 150px 80px;
    margin-left: 50px;
  }


}


@media (max-width: 992px) {
  .header {
    flex-wrap: wrap;
    padding: 10px 15px;
    position: relative;
  }

  
  .nav {
    order: 3;
    width: 100%;
    margin-top: 15px;
    overflow-x: auto;
    padding-bottom: 10px;
  }
  
  .search {
    order: 2;
    width: 200px;
    margin-left: auto;
  }
  
  .icons {
    order: 4;
  }
  
  .products-scroll {
    padding: 40px 20px;
  }
  
  .product-card {
    min-width: 280px;
  }
  
  .product-image {
    height: 350px;
  }
  
  .personal-section {
    flex-direction: column-reverse;
    padding: 0 20px;
    margin: 40px 0;
  }
  
  .text-content {
    padding: 40px 20px !important;
    margin-left: 0 !important;
    text-align: center;
  }
  
  .text-content p {
    max-width: 100% !important;
  }
  
  .image-content img {
    width: 100% !important;
    height: auto !important;
  }
  
  .description {
    width: 300px;
    top: 40px;
    right: 10px;
  }
  
  .holiday-section {
    flex-direction: column;
  }
  
  .holiday-left, 
  .holiday-right {
    padding: 30px 20px;
  }
  
  .holiday-left img, 
  .holiday-right img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  
  .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .footer {
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .footer-section {
    min-width: 50%;
    margin-bottom: 30px;
  }
  .cta-btn {
    margin: 0 30px 80px;
  }

    .footer-section ul {
    display: none;
  }

}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
  
  .search {
    width: 150px;
    height: 40px;
  }
  
  .search span {
    display: none;
  }

  .search-icon {
    position: absolute;
    left: 75px;
  }

  .Location,
  .Profile {
    display: none;
  }
  
  .products-scroll h2 {
    font-size: 24px;
  }
  
  .product-card h3,
  .price {
    font-size: 16px;
  }
  
  .description {
    position: static;
    width: 100%;
    background-color: transparent;
  }
  
  .thumbnails {
    position: static;
    justify-content: center;
    margin-top: 20px;
  }
  
  .counter {
    display: none;
  }
  
  .category-grid {
    grid-template-columns: 1fr;
  }
  
  .footer-section {
    min-width: 100%;
  }
  
  .cta-btn {
    width: auto;
    height: auto;
    margin: 0 30px 180px;
  
  }
}

@media (max-width: 576px) {

  
  .icons {
    gap: 15px;
  }
  
  .products-scroll {
    padding: 30px 15px;
  }
  
  .product-card {
    min-width: 240px;
  }
  
  .product-image {
    height: 300px;
  }
  
  .personal-section .text-content h2 {
    font-size: 32px;
  }
  
  .btn, .cta-btn {
    padding: 12px 25px;
    font-size: 14px;
    margin: 0 5px 50px;
  
  }
  .cta-btn {
    margin: 0 25px 80px;
  }

  
  .footer {
    padding: 30px 15px;
  }
  
  .footer h4 {
    font-size: 20px;
  }
  
  .footer a {
    font-size: 15px;
  }
  
  .social-icons img {
    width: 36px;
    height: 36px;
  }
}

.mobile-menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  order: 2;
  margin-left: 15px;
}

@media (max-width: 992px) {
  .mobile-menu-btn {
    display: block;
  }
  
  .nav.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--white);
    padding: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    z-index: 99;
  }
  
  .nav.active a {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
}

