<div class="row">
    <div class="col-12 text-center">
        <h1 class="display-1">500</h1>
        <h2>Внутренняя ошибка сервера</h2>
        <p class="lead">Произошла ошибка на нашем сервере. Пожалуйста, попробуйте позже.</p>
        <a href="/" class="btn btn-primary">Вернуться на главную</a>
    </div>
</div>