<div class="row">
    <div class="col-12">
        <h1>О нас</h1>
        <p>BRAND SHOP - это интернет-магазин, предлагающий только оригинальные брендовые товары от ведущих мировых производителей.</p>
        
        <h2 class="mt-4">Наши преимущества</h2>
        <div class="row mt-3">
            <div class="col-md-4 text-center">
                <i class="bi bi-shield-check fs-1 text-primary"></i>
                <h4>Гарантия оригинала</h4>
                <p>Все товары в нашем магазине являются 100% оригинальными</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="bi bi-truck fs-1 text-primary"></i>
                <h4>Быстрая доставка</h4>
                <p>Мы доставляем заказы по всей России в кратчайшие сроки</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="bi bi-headset fs-1 text-primary"></i>
                <h4>Поддержка 24/7</h4>
                <p>Наша служба поддержки всегда готова помочь вам</p>
            </div>
        </div>
        
        <h2 class="mt-4">Наши бренды</h2>
        <p>В нашем ассортименте представлены товары от таких известных брендов как Gucci, Chanel, Louis Vuitton, Hermès, Dior, Prada и многих других.</p>
    </div>
</div>